.Listtodos-container {
    button{
        cursor:pointer ;
    }
    .add-Listtodos{
        .add{
            background-color: #85bea9; /* Green */
            border: none;
            color: white;
            padding: 0px 10px;
            margin: 0 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    }
    
   
    .Listtodos-content{
        width: 400px;
        margin: 0 auto;
      

        .todo-child{
            &:first-child {
                border-top: 1px solid white;
            }
            height: 40px;
            border-bottom: 1px solid white;
            margin: 10px;

            .edit{
                margin:0 10px;
            }
        }
    }

}